<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=768, initial-scale=1">
    <title>404</title>
    {{>csslinks}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMsg}}</p>
    </div>

    {{>footer}}
</body>

</html>