<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    {{>csslinks}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This web app is created by Jim Kuo. It incorporats mapbox and weatherstack api to show you realtime
            weather data.</p>
        <img class="portrait" src="/img/12552750_905156822925291_4922906201668588487_n-01.jpeg" alt="profile img">
    </div>

    {{>footer}}
</body>

</html>