<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    {{>csslinks}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Type the name of the location and press enter.</p>
    </div>

    {{>footer}}
</body>

</html>