<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=768, initial-scale=1">
    <title>Help</title>
    {{>csslinks}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Type the name of the location and press enter.</p>
        <p>If an error occurs, please try again later.</p>
    </div>

    {{>footer}}
</body>

</html>