<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <meta name="google-site-verification" content="XjPtxQ4mgLnmOre25F_fAnmthDznfX9Z9tMmM4jRCUE" />
    {{>csslinks}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Type the name of the location to retrieve it's current weather data</p>

        <form class="weather_search">
            <input type="text" placeholder="enter location" class="location">
            <div class="hidden"><br></div>
            <button class="get-btn">Search with GET</button><button class="post-btn">Search with POST</button>
        </form>

        <p class="weather_result"></p>

    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>