@media only screen and (max-width: 1024px) {
    body {
        font-size: 30px;
    }

    p {
        font-size: 60%;
    }

    input,
    button {
        font-size: 90%;
        display: inline-block;
    }

    .hidden {
        font-size: 30%;
        display: block;
    }

    button {
        margin-left: 0px;
    }

    button:last-child {
        margin-left: 30px;
    }

    header a {
        font-size: 130%;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 768px) {
    button {
        margin-left: 0px;
    }

    button:last-child {
        margin-left: 30px;
    }

    header a {
        font-size: 130%;
        margin-right: 30px;
    }
}